Compressor.jucer
Builds/VisualStudio2019/Compressor.sln
Builds/VisualStudio2019/Compressor_SharedCode.vcxproj
Builds/VisualStudio2019/Compressor_SharedCode.vcxproj.filters
Builds/VisualStudio2019/Compressor_SharedCode.vcxproj.user
Builds/VisualStudio2019/Compressor_StandalonePlugin.vcxproj
Builds/VisualStudio2019/Compressor_StandalonePlugin.vcxproj.filters
Builds/VisualStudio2019/Compressor_StandalonePlugin.vcxproj.user
Builds/VisualStudio2019/Compressor_VST3.vcxproj
Builds/VisualStudio2019/Compressor_VST3.vcxproj.filters
Builds/VisualStudio2019/resources.rc
Builds/VisualStudio2019/.vs/Compressor/v16/.suo
Builds/VisualStudio2019/.vs/Compressor/v16/Browse.VC.db
Builds/VisualStudio2019/.vs/Compressor/v16/Browse.VC.db-shm
Builds/VisualStudio2019/.vs/Compressor/v16/Browse.VC.db-wal
Builds/VisualStudio2019/.vs/Compressor/v16/Browse.VC.opendb
Builds/VisualStudio2019/.vs/Compressor/v16/Solution.VC.db
Builds/VisualStudio2019/.vs/Compressor/v16/Solution.VC.db-shm
Builds/VisualStudio2019/.vs/Compressor/v16/Solution.VC.db-wal
Builds/VisualStudio2019/.vs/Compressor/v16/ipch/AutoPCH/1d229f7650c91210/INPUTGAIN.ipch
Builds/VisualStudio2019/.vs/Compressor/v16/ipch/AutoPCH/2e2ccfd56432e7e1/OUTPUTGAIN.ipch
Builds/VisualStudio2019/.vs/Compressor/v16/ipch/AutoPCH/3b510f1486231135/KNOB.ipch
Builds/VisualStudio2019/.vs/Compressor/v16/ipch/AutoPCH/4c3733c445687e6f/KNOB.ipch
Builds/VisualStudio2019/.vs/Compressor/v16/ipch/AutoPCH/569df0d8ff447113/INCLUDE_JUCE_GUI_BASICS.ipch
Builds/VisualStudio2019/.vs/Compressor/v16/ipch/AutoPCH/634629e1f82450b4/THRESHOLDBAR.ipch
Builds/VisualStudio2019/.vs/Compressor/v16/ipch/AutoPCH/78039a36195b27e1/INCLUDE_JUCE_DSP.ipch
Builds/VisualStudio2019/.vs/Compressor/v16/ipch/AutoPCH/b149821676b88231/PLUGINEDITOR.ipch
Builds/VisualStudio2019/.vs/Compressor/v16/ipch/AutoPCH/b7c9fc208e590f1e/PLUGINPROCESSOR.ipch
Builds/VisualStudio2019/.vs/Compressor/v16/ipch/AutoPCH/e3a29b633116f5e7/VISUALIZER.ipch
Builds/VisualStudio2019/.vs/Compressor/v16/ipch/AutoPCH/f2944d02442e9b4f/THRESHOLDBAR.ipch
Builds/VisualStudio2019/x64/Debug/Shared Code/BinaryData.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/Compressor.lib
Builds/VisualStudio2019/x64/Debug/Shared Code/Compressor_SharedCode.log
Builds/VisualStudio2019/x64/Debug/Shared Code/Compressor_SharedCode.pdb
Builds/VisualStudio2019/x64/Debug/Shared Code/Compressor_SharedCode.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_basics.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_devices.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_formats.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_plugin_client_utils.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_processors.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_utils.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_core.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_data_structures.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_dsp.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_events.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_graphics.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_gui_basics.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_gui_extra.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_opengl.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/InputGain.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/Knob.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/OutputGain.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/PluginEditor.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/PluginProcessor.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/ThresholdBar.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/Visualizer.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/Compress.39E54DD4.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/Compress.39E54DD4.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/Compress.39E54DD4.tlog/CL.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/Compress.39E54DD4.tlog/Compressor_SharedCode.lastbuildstate
Builds/VisualStudio2019/x64/Debug/Shared Code/Compress.39E54DD4.tlog/Lib.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/Compress.39E54DD4.tlog/Lib-link.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/Compress.39E54DD4.tlog/Lib-link.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/Compressor.exe
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/Compressor.ilk
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/Compressor.pdb
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/Compressor_StandalonePlugin.log
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/Compressor_StandalonePlugin.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/include_juce_audio_plugin_client_Standalone.obj
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/resources.res
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/vc142.pdb
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/Compress.458D7C51.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/Compress.458D7C51.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/Compress.458D7C51.tlog/CL.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/Compress.458D7C51.tlog/Compressor_StandalonePlugin.lastbuildstate
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/Compress.458D7C51.tlog/link.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/Compress.458D7C51.tlog/link.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/Compress.458D7C51.tlog/link.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/Compress.458D7C51.tlog/rc.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/Compress.458D7C51.tlog/rc.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/Compress.458D7C51.tlog/rc.write.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Compressor.exp
Builds/VisualStudio2019/x64/Debug/VST3/Compressor.ilk
Builds/VisualStudio2019/x64/Debug/VST3/Compressor.lib
Builds/VisualStudio2019/x64/Debug/VST3/Compressor.pdb
Builds/VisualStudio2019/x64/Debug/VST3/Compressor.vst3
Builds/VisualStudio2019/x64/Debug/VST3/Compressor_VST3.log
Builds/VisualStudio2019/x64/Debug/VST3/Compressor_VST3.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2019/x64/Debug/VST3/include_juce_audio_plugin_client_VST3.obj
Builds/VisualStudio2019/x64/Debug/VST3/resources.res
Builds/VisualStudio2019/x64/Debug/VST3/vc142.pdb
Builds/VisualStudio2019/x64/Debug/VST3/Compressor_VST3.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Compressor_VST3.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Compressor_VST3.tlog/CL.write.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Compressor_VST3.tlog/Compressor_VST3.lastbuildstate
Builds/VisualStudio2019/x64/Debug/VST3/Compressor_VST3.tlog/Compressor_VST3.write.1u.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Compressor_VST3.tlog/link.command.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Compressor_VST3.tlog/link.read.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Compressor_VST3.tlog/link.write.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Compressor_VST3.tlog/rc.command.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Compressor_VST3.tlog/rc.read.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/Compressor_VST3.tlog/rc.write.1.tlog
JuceLibraryCode/BinaryData.cpp
JuceLibraryCode/BinaryData.h
JuceLibraryCode/include_juce_audio_basics.cpp
JuceLibraryCode/include_juce_audio_basics.mm
JuceLibraryCode/include_juce_audio_devices.cpp
JuceLibraryCode/include_juce_audio_devices.mm
JuceLibraryCode/include_juce_audio_formats.cpp
JuceLibraryCode/include_juce_audio_formats.mm
JuceLibraryCode/include_juce_audio_plugin_client_AAX.cpp
JuceLibraryCode/include_juce_audio_plugin_client_AAX.mm
JuceLibraryCode/include_juce_audio_plugin_client_AU.r
JuceLibraryCode/include_juce_audio_plugin_client_AU_1.mm
JuceLibraryCode/include_juce_audio_plugin_client_AU_2.mm
JuceLibraryCode/include_juce_audio_plugin_client_AUv3.mm
JuceLibraryCode/include_juce_audio_plugin_client_RTAS.r
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_1.cpp
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_2.cpp
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_3.cpp
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_4.cpp
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_utils.cpp
JuceLibraryCode/include_juce_audio_plugin_client_RTAS_utils.mm
JuceLibraryCode/include_juce_audio_plugin_client_Standalone.cpp
JuceLibraryCode/include_juce_audio_plugin_client_Unity.cpp
JuceLibraryCode/include_juce_audio_plugin_client_utils.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST_utils.mm
JuceLibraryCode/include_juce_audio_plugin_client_VST2.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST3.cpp
JuceLibraryCode/include_juce_audio_processors.cpp
JuceLibraryCode/include_juce_audio_processors.mm
JuceLibraryCode/include_juce_audio_utils.cpp
JuceLibraryCode/include_juce_audio_utils.mm
JuceLibraryCode/include_juce_core.cpp
JuceLibraryCode/include_juce_core.mm
JuceLibraryCode/include_juce_data_structures.cpp
JuceLibraryCode/include_juce_data_structures.mm
JuceLibraryCode/include_juce_dsp.cpp
JuceLibraryCode/include_juce_dsp.mm
JuceLibraryCode/include_juce_events.cpp
JuceLibraryCode/include_juce_events.mm
JuceLibraryCode/include_juce_graphics.cpp
JuceLibraryCode/include_juce_graphics.mm
JuceLibraryCode/include_juce_gui_basics.cpp
JuceLibraryCode/include_juce_gui_basics.mm
JuceLibraryCode/include_juce_gui_extra.cpp
JuceLibraryCode/include_juce_gui_extra.mm
JuceLibraryCode/include_juce_opengl.cpp
JuceLibraryCode/include_juce_opengl.mm
JuceLibraryCode/JuceHeader.h
JuceLibraryCode/JucePluginDefines.h
JuceLibraryCode/ReadMe.txt
